*.o
*.la
*.lo
**/.*.swp
**/Makefile
**/.libs
**/.deps
/config.h
/config.status
/config.log
/generic/fb-xlat-auto.c
/host/gtk/gtk-keymap.h
/ic/ieee754/ieee754-misc-auto.c
/libltdl/loaders/.dirstamp
/libtme/recode-host.c
/libtme/shlibvar.h
/libtool
/machine/sun/tme-sun-eeprom
/machine/sun/tme-sun-idprom
/stamp-h1
/tme/recode-host.h
/tmeconfig.h
/tmememory.h
/tme-preopen.txt
/tme/tme-plugins.txt
/tmesh/tmesh
